.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;

  background-color: #d4d4d4;
}

form {
  width: 450px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #b9b9b9;
}
