.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #48b6ff;
}

form,
.output-wrap {
  width: 450px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #535353;
}

.btn {
  margin-right: 20px;
}

.output-wrap {
  margin-top: 50px;
}
